<h2>📚 Study Materials</h2>

{% for m in materials %}
<div>
  <a href="/view_material/{{m.id}}" target="_blank"> {{ m.title }} </a>

  <a href="/download_material/{{m.id}}"> ⬇ Download </a>
</div>
{% endfor %}

<!-- FLOATING TIMER -->
<div
  id="floatingTimer"
  onclick="goToStudy()"
  style="
    position: fixed;
    top: 20px;
    right: 20px;
    background: #111;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    z-index: 1000;
    font-weight: bold;
    cursor: pointer;
  "
>
  00:00
</div>

<script>
  function goToStudy() {
    window.location.href = "/study";
  }

  function updateFloating() {
    fetch("/get_active_seconds")
      .then((r) => r.text())
      .then((s) => {
        let sec = parseInt(s) || 0;
        let m = Math.floor(sec / 60);
        let ss = sec % 60;

        let formatted =
          String(m).padStart(2, "0") + ":" + String(ss).padStart(2, "0");

        let el = document.getElementById("floatingTimer");
        if (el) el.innerText = formatted;
      });
  }

  updateFloating();
  setInterval(updateFloating, 1000);
</script>
